.bannerText {
    font-family: "IBM Plex Sans", Sans-serif;
    top: -150px;
}

.styleBannerHeading {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 40px;
}

.styleBannerGradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

.styleSecondaryHeading {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 20px;
}
